version: '3'
services:
  nginx:
    container_name: nginx
    build:
      context: .docker/nginx
      dockerfile: Dockerfile
    ports:
      - 80:80
    depends_on:
      - web

  web:
    container_name: web
    build:
      context: .
      dockerfile: Dockerfile
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    environment:
      TZ: 'Asia/Tokyo'
      RAILS_ENV: 'development'
      DATABASE_HOST: 'db'
      DATABASE_NAME: 'app_development'
      DATABASE_USER: 'docker'
      DATABASE_PASSWORD: 'docker'
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    tty: true
    stdin_open: true
    depends_on:
      - db

  db:
    platform: linux/x86_64
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    ports:
        - '3306:3306'
    environment:
      TZ: 'Asia/Tokyo'
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - ./db/mysql/mysql_data:/var/lib/mysql
      - ./.docker/db/sql:/docker-entrypoint-initdb.d

volumes:
  database: