<h1 class="text-center mt-4">Listing all categories</h1>

<div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @categories, :container => false %>
</div>

<%= render 'category' %>

<div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @categories, :container => false %>
</div>